  <jps-section-container [title]="'About me'" [action]="action">

    <div class="summary-section">
      <jps-avatar></jps-avatar>
      <div class="summary-text">
        <h2>Summary</h2>
        <p>
          I'm a software developer with more than 8 years of experience in the IT field with a great experience working
          with clients from different countries and different business areas, this helped me to get the flexibility to
          work in different environments and get the best performance.<br>Personally, I feel comfortable working with a
          team, and I usually put forward the success of the group ahead of personal success. Even though, throughout my
          career, I've worked on projects being the only person in charge of it.<br>I don't have a specific main area,
          throughout my career I've worked in different fields of the development cycle, even though, my experience is
          based on Front end and back end with a hard knowledge in javascript frameworks and .net stack.<br>In addition,
          I have good soft skills, and because of that, I can help to get a balanced team and a good environment. <br>In
          my professional life, I have 3 main concepts, compromise, work quality, and continuous learning, these are
          pushing me to have excellent performance and continuous improvement.<br>
        </p>
      </div>
    </div>

    <div class="summary-items-wrapper">
      <div class="summary-main-items">
        <div class="value-section">
          <h1 class="value">8</h1>
          <span>YEARS</span>
        </div>
        <div>
          <h2>EXPERIENCE</h2>
        </div>
      </div>

      <div class="summary-main-items">
        <div class="value-section">
          <h1 class="value">4</h1>
          <span>DIFFERENT</span>
        </div>
        <div>
          <h2>COUNTRIES</h2>
        </div>
      </div>

      <div class="summary-main-items">
        <div class="value-section">
          <h1 class="value">8</h1>
          <span>DIFFERENT</span>
        </div>
        <div>
          <h2>PROJECTS</h2>
        </div>
      </div>
    </div>
  </jps-section-container>
