@import '~src/styles/variables.scss';

.jpsInputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: .5em;

  label {
    font-size: $x-small-font-size;
  }

  input {
    height: 2em;
    padding: 8px;
    border-radius: 2px;
  }

  textarea {
    padding: 8px;
    border-radius: 2px;

    font-family: $font-family;
  }

  .jpsInput {
    border: none;
    margin: .2em 0;
    font-size: $small-font-size;
    box-shadow: inset $box-shadow;


    &.required {
      border-left: 3px solid $accent-color;
    }

    &.error {
      border-left: 3px solid $warn-color;
    }

    &.success {
      border-left: 3px solid $success-color;

    }
  }
}
