@import '~src/styles/variables.scss';
@import '~src/styles/mixings.scss';

jps-avatar {
  display: block;
  color: $primary-contrast;

  .container {
    .pic {
      border-radius: 50%;
      max-width: 100%;
    }

    @include social-network-mixing(32px);

    .brand-title {
      * {
        color: $primary-contrast;
        margin: 0;
      }

      h1 {
        padding: 0 $content-spacing 0 0;
        margin-right: $content-spacing;
        border-right: 1px solid $primary;
      }
    }
  }
}
