<div class="container" [ngClass]="{'middle-position': alignMiddle}">

  <div class="profile-pic">
    <img class="pic" src="assets/resources/profile.png" alt="">
  </div>

  <div class="social-network-wrapper">
    <a href="https://github.com/jpspGitHub" target="_blank">
      <img class="social-network" src="assets/resources/icons/github.svg">
    </a>
    <a href="https://www.linkedin.com/in/pablo-silva-54413545/" target="_blank">
      <img class="social-network" src="assets/resources/icons/linkedin.svg">
    </a>
  </div>
  <ng-content>
  </ng-content>
</div>
