<jps-section-container [title]="'Education and Skills'" [action]="action">
  <h2>Studies</h2>
  <div class="educational-box">
    <div class="picture-wrapper" *ngFor="let item of educationCourses$ | async">
      <img class="pic" [src]="item.img" alt="">
      <div class="detail">
        <span>{{item.name}}</span>
        <span>{{item.institute}}</span>
      </div>
    </div>
  </div>

  <h2>Languages </h2>
  <div class="languages-wrapper">
    <div class="educational-box languages-container" *ngFor="let language of languages$ |async">
      <div class="languages-icon">
        <img class="pic" [src]="language.img">
        <span>{{language.name}}</span>
      </div>
      <div class="languages-levels">
        <p class="highlighted">COMPREHENSION: <span>{{language.comprehensionLevel}}</span></p>
        <p class="highlighted">EXPRESSION: <span>{{language.expressionLevel}}</span></p>
        <p class="highlighted">WRITTEN: <span>{{language.writtenLevel}}</span></p>
      </div>
    </div>
  </div>
</jps-section-container>
<jps-skills class="parallax"></jps-skills>
