<jps-section-container [title]="'Contact'" [action]="action">
  <div class="contact-wrapper">
    <div class="contact-container">
      <div [formGroup]="formGroup" class="fields-wrapper">
        <jps-input data-test="contact-name" placeholder="Full Name" [formControlName]="ContactFormNames.NAME"
          type="text" name="" id=""></jps-input>
        <jps-input data-test="contact-location" placeholder="Location" [formControlName]="ContactFormNames.LOCATION"
          type="text" name="" id="">
        </jps-input>
        <jps-input data-test="contact-email" placeholder="Email" [formControlName]="ContactFormNames.EMAIL" type="email"
          name="" id=""></jps-input>
        <jps-input data-test="contact-message" placeholder="Message" [formControlName]="ContactFormNames.MESSAGE"
          [rows]="15"></jps-input>
      </div>
      <div class="button-wrapper">
        <button jps-btn-flat [color]="'light'" data-test="contact-send">Send</button>
      </div>
    </div>
  </div>
</jps-section-container>
