@import '~src/styles/variables.scss';

.carousel-container {
  padding: 0 $content-spacing;
  display: flex;
  flex-direction: column;

  .selection-bullet {
    background-color: $primary-light-contrast-smudgy;
    min-width: 3em;
    min-height: .3em;
    margin: 0 2px;

    &.selected {
      background-color: $primary-light-contrast;
    }
  }

  .selection-bullet-wrapper {
    flex-direction: row;
    display: flex;
    place-content: center center;
    align-items: center;
    margin-bottom: $content-spacing;
  }

  .direction-button-wrapper {
    display: flex;
    margin: 0 auto;

    .direction-button {
      font-size: $large-font-size;
      padding: 0 $content-spacing;
    }
  }

  .recommendation-container {
    position: relative;
    display: inline-flex;
    margin: $content-spacing 0;

    .recommendation-wrapper {
      max-width: $content-width;
      min-width: 100%;

      .recommendation-content {
        flex-direction: row;
        display: flex;
        max-width: calc(#{$content-width} / 1.45);
        margin: 0 auto;
        background: #fff;
        box-shadow: $box-shadow;
        opacity: .6;
        border-radius: 2px;


        &.selected {
          opacity: 1;
        }

        .person {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: $content-spacing;
          min-width: 204px;

          .pic {
            width: 128px;
            border-radius: 50%;
          }

          .name {
            font-size: $small-font-size;
          }

          .position {
            font-size: $x-small-font-size;
            text-align: center;

          }
        }

        .recommendation {
          padding: $content-spacing;
          min-height: 222px;
          position: relative;
        }
      }
    }
  }
}


@media only screen and (max-width: 812px) {
  .carousel-container {
    .recommendation-container {
      .recommendation-wrapper {
        .recommendation-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100%;
          margin: 0 $content-spacing;
        }
      }
    }
  }
}
