@import '~src/styles/variables.scss';
@import '~src/styles/mixings.scss';


.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: block;
}

.chip {
  font-size: 12px;
  background: $primary;
  color: $primary-contrast;
  padding: 1px 9px;
  border-radius: 8px;
  margin: .1em 0;
}

.jps-btn {
  padding: calc(#{$content-spacing} / 4) calc(#{$content-spacing} / 2);
  font-size: $small-font-size;
  margin: 0 calc(#{$content-spacing} / 4);
  border-radius: 2px;
  box-shadow: $box-shadow;

  &.jps-btn-stroked {
    &.primary {
      @include stroked($primary, $primary-contrast);
    }

    &.secondary {
      @include stroked($secondary, $secondary-contrast);
    }

    &.light {
      @include stroked($primary-light, $primary-light-contrast);
    }
  }

  &.jps-btn-flat {
    &.primary {
      @include flat($primary, $primary-contrast);
    }

    &.secondary {
      @include flat($secondary, $secondary-contrast);
    }

    &.light {
      @include flat($primary-light, $primary-light-contrast);
    }
  }

  &.jps-btn-default {
    &.primary {
      @include default($primary, $primary-contrast);
    }

    &.secondary {
      @include default($secondary, $secondary-contrast);
    }

    &.light {
      @include default($primary-light, $primary-light-contrast);
    }
  }
}
