@import '~src/styles/variables.scss';

*::-webkit-scrollbar {
  width: 11px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $primary $primary-contrast;
}

*::-webkit-scrollbar-track {
  background: $primary-contrast;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 6px;
  border: 3px solid $primary-contrast;
}

h1 {
  font-size: $x-large-font-size;
  font-weight: 100;
  letter-spacing: 0.08em;
  padding: .5em 0;
  margin: 0;
}

h2 {
  font-size: $large-font-size;
  font-weight: 100;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  padding: .5em 0;
  margin: 0;
}

h3 {
  font-size: $medium-font-size;
  font-weight: 100;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  padding: .5em 0;
  margin: 0;

  &.highlighted {
    text-transform: uppercase;
    letter-spacing: .2em;
  }
}

p {
  font-size: $small-font-size;
  line-height: 1.6em;
  letter-spacing: 0.06em;
  padding: .5em 0;
  margin: 0;

  &.highlighted {
    text-transform: uppercase;
    letter-spacing: .2em;
  }
}

nav ul {
  list-style: none;
}

a {
  font-size: $x-small-font-size;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  padding: .5em 0;
  margin: 0;


  color: $primary;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: $primary-smudgy;
  }

}
