// APP VARIABLES
$content-spacing: 2rem;
$web-selection-font-color: #FFF;
$content-width: 1280px;
$font-family: 'Montserrat',
sans-serif;
// FONT
$x-small-font-size: 12px;
$small-font-size: 16px;
$medium-font-size: 23px;
$large-font-size: 32px;
$x-large-font-size: 48px;

// COLORS
$primary: #2e4660;
$primary-contrast: #ebe5d9;
$primary-smudgy: #2e4660ad;

$secondary: #547378;
$secondary-contrast: #ebe5d9;

$primary-light: #ebe5d9;
$primary-light-contrast: #2e4660;
$primary-light-smudgy: #ebe5d98a;

$light-smudgy:rgba(256, 256, 256, .8);
$dark-smudgy:rgba(0, 0, 0, .8);

$success-color: #65acaa;
$accent-color:#ec7012;
$warn-color: #e45720;
