@import '~src/styles/variables.scss';

$item-size: calc(#{$content-width} / 5);
$item-detail-size: 83px;

@mixin selected-item() {
  transition: 200ms ease-in-out;
  opacity: 1;
  background-color: #fff;

  .item-content {
    .logo-wrapper {
      .logo {
        transition: 250ms ease-in-out;
        width: $item-size;
        height: $item-size;
        border-radius: 0;
        margin: 0 auto;
      }
    }

    .text-wrapper {
      background-color: $primary;

      .text {
        color: $primary-contrast;
      }
    }
  }
}


@mixin select-item-responsive() {
  transition: 200ms ease-in-out;
  opacity: 1;
  background-color: #fff;

  .item-content {
    .logo-wrapper {
      .logo {
        transition: 250ms ease-in-out;
        width: $item-detail-size;
        height: $item-detail-size;
        border-radius: 0;
        margin: 0 auto;
      }
    }

    .text-wrapper {
      background-color: $primary;

      .text {
        color: $primary-contrast;
      }
    }
  }
}

.employers-section {
  place-content: stretch space-between;
  align-items: stretch;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  margin-bottom: $content-spacing;
  background: rgba(256, 256, 256, .6);

  .item {
    opacity: .6;
    width: $item-size;
    height: calc(#{$item-size} + #{$item-detail-size});
    position: relative;

    .item-content {
      .logo-wrapper {
        width: $item-size;
        height: $item-size;

        .logo {
          width: 80%;
          height: 80%;
          margin: 2rem auto;
          border-radius: 50%;
          background: #fff;
          display: block;
        }
      }

      .text-wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
        height: $item-detail-size;
        width: 100%;
        background-color: $primary-light;
        display: flex;
        align-items: center;

        .text {
          color: $primary-light-contrast;
          display: flex;
          flex-direction: column;
          margin-left: $content-spacing;

          .location {
            font-size: $x-small-font-size;
          }
        }
      }
    }




    &.active {
      @include selected-item();
      opacity: .8;
    }

    &:hover {
      cursor: pointer;
      @include selected-item();
    }
  }
}


@media only screen and (max-width: 1024px) {
  .employers-section {
    flex-direction: column;

    .item {
      height: $item-detail-size;
      width: 100%;

      .item-content {
        display: flex;

        .logo-wrapper {
          width: $item-detail-size;
          height: $item-detail-size;

          .logo {
            margin: auto;
          }
        }

        .text-wrapper {
          position: relative;
          width: calc(100% - 83px);
          right: 0;
        }
      }

      &.active {
        @include select-item-responsive();
        opacity: .8;
      }
    }
  }
}
