<div class="employers-section">
  <div class="item" *ngFor="let item of experiences$ | async" [ngClass]="{'active':item.selected}">
    <div class="item-content" (click)="onSelectItem(item)">
      <div class="logo-wrapper">
        <img class="logo" [src]="item.img" alt="">
      </div>
      <div class="text-wrapper">
        <div class="text">
          <span>{{item.displayName}}</span>
          <span class="location">{{item.location}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
