@import '~src/styles/variables.scss';

jps-section-container {
  width: 100%;
  max-width: $content-width;
  margin: 0 auto;
  display: block;

  .section-wrapper {
    padding: $content-spacing 0;
  }
}
