@import '~src/styles/variables.scss';

.service-container {
  display: flex;

  .service-item {
    background-color: $dark-smudgy;
    width: calc((#{$content-width} / 4) - (#{$content-spacing} /2));
    min-height: 532px;
    display: flex;
    flex-direction: column;
    color: $primary-contrast;

    &:not(:last-child) {
      margin-right: calc(#{$content-spacing} /2);
    }

    .image {
      width: 100%;
      height: 218px;
      opacity: .9;
    }

    .detail-wrapper {
      padding: 0 $content-spacing $content-spacing $content-spacing;

      .title {
        text-align: center;
      }
    }
  }
}



@media only screen and (max-width: 375px) {

  .service-container {
    flex-direction: column;

    .service-item {
      width: 100%;

      margin-bottom: calc(#{$content-spacing} /2);

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (min-width: 376px)and (max-width: 1024px) {

  .service-container {
    flex-flow: row wrap;

    .service-item {
      width: 50%;

      margin-bottom: calc(#{$content-spacing} /2);

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}
