<jps-section-container [title]="'Services'" [action]="action">
  <div class="service-container">
    <div class="service-item">
      <img class="image" src="assets/resources/services/development.jpg">
      <div class="detail-wrapper">
        <p class="title highlighted">DESIGN & DEVELOPMENT</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit eos voluptas vel
          adipisci labore minima unde
          delectus dignissimos odio totam, exercitationem error molestiae sit perspiciatis porro deserunt minus vero
          illum?</p>
      </div>
    </div>

    <div class="service-item">
      <img class="image" src="assets/resources/services/mobile.jpg">
      <div class="detail-wrapper">
        <p class="title highlighted">MOBILE</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit eos voluptas vel
          adipisci labore minima unde
          delectus dignissimos odio totam, exercitationem error molestiae sit perspiciatis porro deserunt minus vero
          illum?</p>
      </div>
    </div>
    <div class="service-item">
      <img class="image" src="assets/resources/services/teamwork.jpg">
      <div class="detail-wrapper">
        <p class="title highlighted">STUFF PROVIDER</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit eos voluptas vel
          adipisci labore minima unde
          delectus dignissimos odio totam, exercitationem error molestiae sit perspiciatis porro deserunt minus vero
          illum?</p>
      </div>
    </div>
    <div class="service-item">
      <img class="image" src="assets/resources/services/analytics.jpg">
      <div class="detail-wrapper">
        <p class="title highlighted">ANALYTICS</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit eos voluptas vel
          adipisci labore minima unde
          delectus dignissimos odio totam, exercitationem error molestiae sit perspiciatis porro deserunt minus vero
          illum?</p>
      </div>
    </div>

  </div>
</jps-section-container>
