<jps-section-container [title]="'Services'" [action]="action">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div class="service-item" fxLayout="column" fxLayoutAlign="start center">
      <img class="icon" src="assets/resources/icons/code.png">
      <p class="title">DESIGN & DEVELOPMENT</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit eos voluptas vel
        adipisci labore minima unde
        delectus dignissimos odio totam, exercitationem error molestiae sit perspiciatis porro deserunt minus vero
        illum?</p>
    </div>
    <div class="service-item" fxLayout="column" fxLayoutAlign="start center">
      <img class="icon" src="assets/resources/icons/cellphone.png">

      <p class="title">MOBILE</p>
      <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit eos voluptas vel
        adipisci labore minima unde
        delectus dignissimos odio totam, exercitationem error molestiae sit perspiciatis porro deserunt minus vero
        illum?</p>
    </div>
    <div class="service-item" fxLayout="column" fxLayoutAlign="space-around center">
      <img class="icon" src="assets/resources/icons/stuffing.png">

      <p class="title">CONTACTS</p>
      <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit eos voluptas vel
        adipisci labore minima unde
        delectus dignissimos odio totam, exercitationem error molestiae sit perspiciatis porro deserunt minus vero
        illum?</p>
    </div>
    <div class="service-item" fxLayout="column" fxLayoutAlign="space-around center">
      <img class="icon" src="assets/resources/icons/analytics.png">

      <p class="title">ANALYTICS</p>
      <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit eos voluptas vel
        adipisci labore minima unde
        delectus dignissimos odio totam, exercitationem error molestiae sit perspiciatis porro deserunt minus vero
        illum?</p>
    </div>
  </div>
</jps-section-container>
