@import '~src/styles/variables.scss';

.experience-data-content {
  flex-direction: column;
  display: flex;
  place-content: stretch space-between;
  align-items: stretch;

  .data-section-wrapper {
    background: #fff;

    .data-section {
      padding: $content-spacing;
      color: $primary-light-contrast;

      .data-title {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-between;
        align-items: center;

        .employer {
          flex-direction: row;
          display: flex;
          place-content: center flex-start;
          align-items: center;
        }

        .link {
          font-size: $medium-font-size;
        }

        .logo {
          width: 73px;
          margin-right: $content-spacing;
          vertical-align: middle;
        }
      }

      .data-description {
        padding: .5em 0;
        margin: 0;

        p {
          padding: 0;
        }

        .area {
          font-weight: 600;
        }
      }

    }

    .sub-title {
      text-transform: uppercase;
      color: $primary-light-contrast;
      padding: .5em 0 0 $content-spacing;
    }

    &:first-child {
      border-bottom: 1px solid;
    }
  }
}



@media only screen and (max-width: 812px) {
  .experience-data-content {

    .employers-data-section-wrapper {

      .employers-data-section {

        .employers-data-title {
          flex-direction: column;

          .employer {
            flex-direction: column;

            .logo {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
