@import '~src/styles/variables.scss';

jps-main-menu {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: $secondary;
  color: $secondary-contrast;
  z-index: 3;
  display: block;
  box-shadow: 0 3px 8px 0px $dark-smudgy;

  .content {
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    min-height: 52px;

    .item {
      min-width: 80px;
      font-size: $large-font-size;
      margin: 0 1em;
      color: $light-smudgy;
      padding: 8px 0;

      .text {
        font-size: $x-small-font-size;
        text-transform: uppercase;
      }

      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
  }
}
