<nav>
  <button class="direction" (click)="toggleMenu()">
    <span class="direction-icon" [ngClass]="{'open': !openMenu}">
      <i class="fas fa-bars"></i>
    </span>
    <span class="direction-icon" [ngClass]="{'open': openMenu}">
      <i class="fas fa-hamburger"></i>
    </span>
  </button>
  <ul class="content" [ngClass]="{'open': openMenu}" fxLayout="row" fxLayoutAlign="space-between start ">
    <li *ngFor="let item of menuItems$ | async" class="item" fxLayout="column" fxLayoutAlign="start center"
      (click)="onMenuItemClick(item.action)">
      <span>
        <i [class]="item.icon"></i>
      </span>
      <span class="text">{{item.displayName}}</span>
    </li>
  </ul>
</nav>
