@import '~src/styles/variables.scss';

@keyframes menu-open {
  from {
    min-height: 0;
  }

  to {
    min-height: 284px;
  }
}

@mixin responsive-menu() {
  jps-main-menu {
    .direction {
      display: block;
      padding: 0;
      min-height: 58px;
      border: none;
      background-color: transparent;

      .direction-icon {
        position: absolute;
        padding: 0 .5em;
        top: 13px;
        font-size: $large-font-size;
        color: $light-smudgy;
        opacity: 0;

        &.open {
          transition: 250ms ease-in-out;
          opacity: 1;
        }
      }
    }

    .content {
      max-height: 0;
      flex-flow: row wrap;
      padding: 0;
      margin: 0;
      overflow: hidden;
      background-color: $primary;
      position: absolute;

      .item {
        width: 80px;
      }

      &.open {
        animation: menu-open 250ms forwards;
      }
    }
  }
}


jps-main-menu {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: $secondary;
  color: $secondary-contrast;
  z-index: 3;
  display: block;
  box-shadow: $box-shadow;

  .direction {
    display: none;
  }

  .content {
    max-width: $content-width;
    margin: 0 auto;

    .item {
      font-size: $medium-font-size;
      margin: 0 1em;
      color: $light-smudgy;
      padding: 8px 0;

      .text {
        font-size: $x-small-font-size;
        text-transform: uppercase;
      }

      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
  }
}


@media only screen and (max-width: 812px) {
  @include responsive-menu();
}
